<div class="todo-app-homepage-wrapper">
    <h1 class="todo-app-home-title">Welcome to Todo Manager Homepage</h1>

    <p class="todo-app-home-link-info">
      If you are a new user, <%= link_to "Sign Up Here", new_user_path%>
    </p>

    <p class="todo-app-home-link-info">
      If you are an existing user, <%= link_to "Sign In Here", new_sessions_path%>
    </p>
</div>
