.todo-app-homepage-wrapper{
  width:380px;
  margin:50px auto;
  font-family: 'Open Sans', sans-serif;
}
.todo-app-home-title{
font-size: 50px;
margin-bottom: 30px;
}

.todo-app-home-link-info{
margin-bottom: 20px;
font-size: 20px;
}

.todo-app-home-link-info a{
  text-decoration:none;
  color:blue;
}
